
@{
    ViewData["Title"] = "Hạn chế truy cập";
}
<header>
    <h1 style="color:red; display: flex; align-items: center; justify-content:center" class="text-danger">@ViewData["Title"]</h1>
    <p style="color:red; display: flex; align-items: center; justify-content:center" class="text-danger">Bạn không được phép truy cập chức năng này.</p>
</header>