@model FA.JustBlog.Areas.Identity.Models.ForgotPasswordModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <!-- Add your CSS links or styles here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add any additional stylesheets or meta tags as needed -->
</head>
<body>
    <!-- Add your content here -->
    <div class="container vertical-center">
        <div class="row justify-content-center">
            <div class="col-md-3 card p-3">
                <h2 class="text-center text-info">Login</h2>
                <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="mb-1">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" name="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <a asp-action="Register">Don't have an account?</a>
                        </div>
                        <div class="col-4">
                            <button type="submit" value="send" class="btn btn-primary">Send to email</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Add your JavaScript links or scripts here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.11/dist/jquery.validate.unobtrusive.min.js"></script>
    <!-- Add any additional scripts or libraries as needed -->
</body>
</html>
